body{
    text-align: center;
}
#verseHolder{
    margin: auto;
    width: 60vw;
    height: 50vh;
    vertical-align: middle;
    background-color: rgb(212, 212, 212);
    color: rgb(83, 83, 83);
    border-radius: 5px;
    display: flex;
    align-items:center;
    justify-content:center;
    padding-bottom: 20px;
    line-height: 3em;
    box-shadow: 2px 2px 5px rgb(180, 180, 180);
}
.hide{
    visibility: hidden;
}